body {
    background-color: #E74C3C;
}

.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(192, 57, 43, 0.60);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(192, 57, 43, 0.60);
}

.login-form .login-field:focus {
    border-color: #E74C3C;
}

.login-form .login-field:focus + .login-field-icon {
    color: #E74C3C;
}

.btn-primary:hover {
    background-color: #C0392B;
}

.btn-primary {
    background-color: #E74C3C;
    border-color: #EDEFF1;
}

.login-screen {
    background-color: #E74C3C;
    padding: 0;
}

.navbar-text {
    margin-top: 0;
    margin-bottom: 0;
}

.well-custom {
    background-color: #EDEFF1;
    margin-left: 10%;
    margin-right: 10%;
}

.table-id {
    width: 4%;
}

.table-user {
    width: 56%;
}

.table-state {
    width: 10%;
}

.table-speech {
    width: 10%;
}

a:hover, a:focus {
    color: #E74C3C;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #E74C3C;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #E74C3C;
}

.navbar-default .navbar-text a:hover,
.navbar-default .navbar-text a:focus {
    color: #E74C3C;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background: #E74C3C;
    border-color: #E74C3C;
}

.bootstrap-switch:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(192, 57, 43, 0.60);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(192, 57, 43, 0.60);
}

.bootstrap-switch.bootstrap-switch-focused {
    border-color: #E74C3C;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(192, 57, 43, 0.60);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(192, 57, 43, 0.60)
}