@(users: List[model.Spectator])

@main("Spikizi - Dashboard") {

    <div class="well well-lg well-custom">
        <table id="userList" class="table table-striped">
            <thead>
                <tr>
                    <th class="table-id">#</th>
                    <th class="table-user">User Name</th>
                    <th class="table-state">State</th>
                    <th class="table-speech">Speech</th>
                </tr>
            </thead>
            <tbody>
                @users.map { user =>
                    <tr>
                        <td>@user.name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <h3><a href="@routes.Dashboard.logout()">Logout</a></h3>

    <script src="@routes.Dashboard.webSocket()" type="text/javascript"></script>
    <script src="@routes.Dashboard.interpretedJS()" type="text/javascript"></script>
}
