@(users: List[model.Spectator])

@dashboardMain("Spikizi - Dashboard") {

    <div class="well well-lg well-custom">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="table-id">#</th>
                    <th class="table-user">User Name</th>
                    <th class="table-state">State</th>
                    <th class="table-speech">Speech</th>
                </tr>
            </thead>
            <tbody id="userList">
                @users.map { user =>
                    @views.html.dashboardUser( user )
                }
            </tbody>
        </table>
    </div>
} {
    <a href="@routes.Dashboard.logout()">Logout</a>
}
