@(users: List[model.Spectator])

@dashboardMain("Spikizi - Dashboard") {

    <div class="well well-lg well-custom">
        <table id="userList" class="table table-striped">
            <thead>
                <tr>
                    <th class="table-id">#</th>
                    <th class="table-user">User Name</th>
                    <th class="table-state">State</th>
                    <th class="table-speech">Speech</th>
                </tr>
            </thead>
            <tbody>
                @users.map { user =>
                    <tr class="user" id="@user.hash">
                        <td></td>
                        <td>@user.name</td>
                        <td class="iconState">
                           @views.html.dashboardStates( user )
                        </td>
                        <td>
                            <input type="checkbox" name="@{user.hash}-checkbox" data-state="false" checked>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} {
    <a href="@routes.Dashboard.logout()">Logout</a>
}
