
@mobileMain("Spikizi - Mobile") {
    <div class="container">
        <form method="post" action="@{routes.Mobile.newUser()}">
            <div class="login-screen">
                <div class="login-form">
                    <div class="form-group">
                        <input name="name" type="text" class="form-control login-field" value="" placeholder="Name" id="name" required autofocus>
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
                </div>
            </div>
        </form>
    </div>
} { }